In [ ]:

import pandas as pd
import io
 
df = pd.read_csv('train.csv')
df

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,M,Y,N,1,D,D,B,0,1,...,-9.126056,1.732291,3.698504,4.804517,1.544484,0,0,0.631220,5,0
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,M,Y,Y,1,D,D,B,1,1,...,-9.098287,1.505885,6.791357,6.110416,1.712354,0,0,0.392746,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,M,Y,Y,1,D,D,B,0,1,...,-9.234894,1.503828,4.109685,3.953226,1.804260,0,0,0.222537,2,0
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,F,Y,Y,1,D,D,B,0,1,...,-9.378025,1.485863,7.265876,4.559419,1.537645,0,0,0.154409,4,0
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,M,N,Y,1,B,D,D,1,l,...,-9.261962,1.619210,3.737647,4.052003,1.637831,0,1,0.737560,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,b'gAAAAABinOiX2ss5U2ZT5zFd8zf7HcBDWPvbivNz5wAy...,M,Y,Y,1,D,D,B,0,1,...,-8.651173,1.877460,3.637551,11.404942,1.862441,0,0,0.019793,5,0
28318,b'gAAAAABinOiabmEADrCTZQktCKiahJkR_0kDa_8WOlos...,M,Y,Y,1,D,D,B,0,1,...,-8.833046,1.559138,4.247487,5.530054,1.671527,0,0,0.371074,2,0
28319,b'gAAAAABinOicscC37w1W9uiIlYL1U5D_mUtmgdUg8QTl...,F,Y,Y,1,D,D,B,0,1,...,-9.233722,1.455911,2.900249,6.058681,1.627479,0,1,0.826587,1,0
28320,b'gAAAAABinOib-JZ8iQDxjSRsa1dPT1TqeSQ_si4mAw5f...,M,Y,Y,1,B,C,B,1,1,...,-8.748941,2.074394,10.673259,11.387646,1.560391,0,0,0.103523,5,0
28321,b'gAAAAABinOiZ3mCQAtoJFXj-Ymjhi9FbbZ_Ypi5gDoAE...,M,Y,Y,1,D,D,B,1,l,...,-9.280950,1.490478,3.569598,4.584967,1.777995,0,1,0.435079,5,0

In [ ]:
df.describe()

,s13,s48,s56,s57,s59,n1,n2,n3,n4,n5,...,n7,n8,n9,n10,n11,n12,n13,n14,n15,label
count,28322.000000,28322.000000,0.0,0.0,0.0,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,...,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000,28322.000000
mean,0.983123,0.433338,NaN,NaN,NaN,10.201863,1.600111,4.805099,5.080537,-32.641183,...,-9.107429,1.612428,5.232644,6.115109,1.699553,0.009992,0.089506,0.497570,2.997740,0.168067
std,0.128814,0.495545,NaN,NaN,NaN,4.414660,0.664985,2.199282,2.276162,0.241453,...,0.205200,0.173560,2.179705,2.474138,0.115150,0.099462,0.285478,0.289207,2.007611,0.373933
min,0.000000,0.000000,NaN,NaN,NaN,2.200736,0.311727,0.000000,1.700370,-33.167589,...,-9.517986,1.178469,2.508858,1.173465,1.500006,0.000000,0.000000,0.000101,0.000000,0.000000
25%,1.000000,0.000000,NaN,NaN,NaN,6.592127,1.013540,3.000000,2.833161,-32.862207,...,-9.258473,1.489924,3.464229,4.414671,1.600056,0.000000,0.000000,0.247801,1.000000,0.000000
50%,1.000000,0.000000,NaN,NaN,NaN,9.535961,1.462197,5.000000,4.840320,-32.577026,...,-9.174557,1.537263,4.461770,5.317154,1.698556,0.000000,0.000000,0.495255,3.000000,0.000000
75%,1.000000,1.000000,NaN,NaN,NaN,14.432580,2.194510,6.000000,7.300738,-32.396733,...,-8.964786,1.730249,6.524341,7.027610,1.799238,0.000000,0.000000,0.748786,5.000000,0.000000
max,1.000000,1.000000,NaN,NaN,NaN,20.882733,3.137331,9.000000,8.594620,-32.289180,...,-8.586583,2.173593,11.214870,12.029135,1.899995,1.000000,1.000000,0.999990,6.000000,1.000000

In [ ]:
df.isnull().sum()

id            0
gender        0
s11           0
s12           0
s13           0
s16           0
s17           0
s18           0
s48           0
s52           0
s53           0
s54       25694
s55       25116
s56       28322
s57       28322
s58           0
s59       28322
s69           0
s70           0
s71           0
n1            0
n2            0
n3            0
n4            0
n5            0
n6            0
n7            0
n8            0
n9            0
n10           0
n11           0
n12           0
n13           0
n14           0
n15           0
label         0
dtype: int64

In [ ]:
df.dtypes

id         object
gender     object
s11        object
s12        object
s13         int64
s16        object
s17        object
s18        object
s48         int64
s52        object
s53        object
s54        object
s55        object
s56       float64
s57       float64
s58        object
s59       float64
s69        object
s70        object
s71        object
n1        float64
n2        float64
n3          int64
n4        float64
n5        float64
n6        float64
n7        float64
n8        float64
n9        float64
n10       float64
n11       float64
n12         int64
n13         int64
n14       float64
n15         int64
label       int64
dtype: object

In [ ]:
df['s53'].value_counts()

      25752
       2570
Name: s53, dtype: int64

In [ ]:
from sklearn.preprocessing import LabelEncoder

le = LabelEncoder()

In [ ]:
encoded_gender = le.fit_transform(df['gender'])
df['encoded_gender'] = encoded_gender
encoded_s11 = le.fit_transform(df['s11'])
df['encoded_s11'] = encoded_s11
encoded_s12 = le.fit_transform(df['s12'])
df['encoded_s12'] = encoded_s12
encoded_s16 = le.fit_transform(df['s16'])
df['encoded_s16'] = encoded_s16
encoded_s17 = le.fit_transform(df['s17'])
df['encoded_s17'] = encoded_s17
encoded_s18 = le.fit_transform(df['s18'])
df['encoded_s18'] = encoded_s18
encoded_s52 = le.fit_transform(df['s52'])
df['encoded_s52'] = encoded_s52

In [ ]:
encoded_s58 = le.fit_transform(df['s58'])
df['encoded_s58'] = encoded_s58
encoded_s69 = le.fit_transform(df['s69'])
df['encoded_s69'] = encoded_s69
encoded_s70 = le.fit_transform(df['s70'])
df['encoded_s70'] = encoded_s70
encoded_s71 = le.fit_transform(df['s71'])
df['encoded_s71'] = encoded_s71

In [ ]:
df['encoded_s52'].value_counts()

1    20524
2     6508
0     1094
3      196
Name: encoded_s52, dtype: int64

In [ ]:
df.columns

Index(['id', 'gender', 's11', 's12', 's13', 's16', 's17', 's18', 's48', 's52',
       's53', 's54', 's55', 's56', 's57', 's58', 's59', 's69', 's70', 's71',
       'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8', 'n9', 'n10', 'n11',
       'n12', 'n13', 'n14', 'n15', 'label', 'encoded_gender', 'encoded_s11',
       'encoded_s12', 'encoded_s16', 'encoded_s17', 'encoded_s18',
       'encoded_s52', 'encoded_s58', 'encoded_s69', 'encoded_s70',
       'encoded_s71'],
      dtype='object')

In [ ]:
df=df.drop([ 'gender', 's11', 's12','s53','s54', 's16', 's17', 's18','s55','s56','s57','s59','s69', 's70', 's71','s52','s58'], axis = 1)

In [ ]:
df.head()

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,1,0,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,...,1,0,3,3,1,1,1,2,3,1
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,...,1,1,3,3,1,1,1,2,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,1,0,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,...,1,1,3,3,1,1,1,2,3,1
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,1,0,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,1,1,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,...,0,1,1,3,3,2,1,3,3,3

In [ ]:
df.dtypes

id                 object
s13                 int64
s48                 int64
n1                float64
n2                float64
n3                  int64
n4                float64
n5                float64
n6                float64
n7                float64
n8                float64
n9                float64
n10               float64
n11               float64
n12                 int64
n13                 int64
n14               float64
n15                 int64
label               int64
encoded_gender      int64
encoded_s11         int64
encoded_s12         int64
encoded_s16         int64
encoded_s17         int64
encoded_s18         int64
encoded_s52         int64
encoded_s58         int64
encoded_s69         int64
encoded_s70         int64
encoded_s71         int64
dtype: object

In [ ]:
df.head()

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOicS09vrmgh0_JyEHihI13ptO0rCyHP7l76...,1,0,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,...,1,0,3,3,1,1,1,2,3,1
1,b'gAAAAABinOiWGC1WhR6WYP0DA5ssGv9rIekrWUwCdJ8F...,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,...,1,1,3,3,1,1,1,2,3,1
2,b'gAAAAABinOibTcOBFIVeA4nVF3FuFz_QX3ZlPPFc21gS...,1,0,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,...,1,1,3,3,1,1,1,2,3,1
3,b'gAAAAABinOig-g3-Q1ggjlMhfUSdn21Aj5yVVeVvXbis...,1,0,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOiXdoaNUzihOSbyY1tjWtd5EgMaXkkvH6SV...,1,1,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,...,0,1,1,3,3,2,1,3,3,3

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28322 entries, 0 to 28321
Data columns (total 30 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              28322 non-null  object
 1   s13             28322 non-null  int64
 2   s48             28322 non-null  int64
 3   n1              28322 non-null  float64
 4   n2              28322 non-null  float64
 5   n3              28322 non-null  int64
 6   n4              28322 non-null  float64
 7   n5              28322 non-null  float64
 8   n6              28322 non-null  float64
 9   n7              28322 non-null  float64
 10  n8              28322 non-null  float64
 11  n9              28322 non-null  float64
 12  n10             28322 non-null  float64
 13  n11             28322 non-null  float64
 14  n12             28322 non-null  int64
 15  n13             28322 non-null  int64
 16  n14             28322 non-null  float64
 17  n15             28322 non-null  int64
 18  label           28322 non-null  int64
 19  encoded_gender  28322 non-null  int64
 20  encoded_s11     28322 non-null  int64
 21  encoded_s12     28322 non-null  int64
 22  encoded_s16     28322 non-null  int64
 23  encoded_s17     28322 non-null  int64
 24  encoded_s18     28322 non-null  int64
 25  encoded_s52     28322 non-null  int64
 26  encoded_s58     28322 non-null  int64
 27  encoded_s69     28322 non-null  int64
 28  encoded_s70     28322 non-null  int64
 29  encoded_s71     28322 non-null  int64
dtypes: float64(11), int64(18), object(1)
memory usage: 6.5+ MB

In [ ]:
df_test=pd.read_csv("test.csv")
df_test.head()

,id,gender,s11,s12,s13,s16,s17,s18,s48,s52,...,n6,n7,n8,n9,n10,n11,n12,n13,n14,n15
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,M,Y,Y,1,B,D,D,0,l,...,0.026301,-9.200175,2.122970,6.646617,4.801224,1.693087,0,0,0.439270,2
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,M,Y,Y,1,B,C,B,1,l,...,0.010774,-8.897092,1.770889,11.046294,6.407230,1.516728,0,0,0.084334,4
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,M,Y,N,1,B,D,B,1,l,...,0.016837,-9.173660,1.871872,2.805834,5.481219,1.788823,0,0,0.984210,0
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,M,Y,Y,1,D,D,B,0,1,...,0.015684,-9.178200,1.675028,6.354938,5.427266,1.792147,0,0,0.003492,1
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,M,Y,Y,1,D,C,B,1,1,...,0.006406,-8.726633,1.963535,6.810158,11.487845,1.880992,0,0,0.060614,0

In [ ]:
encoded_gender = le.fit_transform(df_test['gender'])
df_test['encoded_gender'] = encoded_gender
encoded_s11 = le.fit_transform(df_test['s11'])
df_test['encoded_s11'] = encoded_s11
encoded_s12 = le.fit_transform(df_test['s12'])
df_test['encoded_s12'] = encoded_s12
encoded_s16 = le.fit_transform(df_test['s16'])
df_test['encoded_s16'] = encoded_s16
encoded_s17 = le.fit_transform(df_test['s17'])
df_test['encoded_s17'] = encoded_s17
encoded_s18 = le.fit_transform(df_test['s18'])
df_test['encoded_s18'] = encoded_s18
encoded_s52 = le.fit_transform(df_test['s52'])
df_test['encoded_s52'] = encoded_s52
encoded_s58 = le.fit_transform(df_test['s58'])
df_test['encoded_s58'] = encoded_s58
encoded_s69 = le.fit_transform(df_test['s69'])
df_test['encoded_s69'] = encoded_s69
encoded_s70 = le.fit_transform(df_test['s70'])
df_test['encoded_s70'] = encoded_s70
encoded_s71 = le.fit_transform(df_test['s71'])
df_test['encoded_s71'] = encoded_s71

In [ ]:
df_test=df_test.drop(['gender', 's11', 's12','s53','s54', 's16', 's17', 's18','s55','s56','s57','s59','s69', 's70', 's71','s52','s58'], axis = 1)

In [ ]:
df_test.head()

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,1,0,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,...,1,1,1,3,3,2,1,3,3,3
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,1,1,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,...,1,1,1,2,1,2,0,3,2,1
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,1,1,10.893303,1.470903,6,2.210629,-32.397871,0.016837,-9.173660,...,1,0,1,3,1,2,1,3,3,1
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,1,0,9.876850,1.442493,3,2.350379,-32.836003,0.015684,-9.178200,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,1,1,11.674406,2.544719,8,8.136887,-32.577495,0.006406,-8.726633,...,1,1,3,2,1,1,1,2,2,1

In [ ]:
df.columns

Index(['id', 's13', 's48', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8',
       'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'label',
       'encoded_gender', 'encoded_s11', 'encoded_s12', 'encoded_s16',
       'encoded_s17', 'encoded_s18', 'encoded_s52', 'encoded_s58',
       'encoded_s69', 'encoded_s70', 'encoded_s71'],
      dtype='object')

In [ ]:
df_test.columns

Index(['id', 's13', 's48', 'n1', 'n2', 'n3', 'n4', 'n5', 'n6', 'n7', 'n8',
       'n9', 'n10', 'n11', 'n12', 'n13', 'n14', 'n15', 'encoded_gender',
       'encoded_s11', 'encoded_s12', 'encoded_s16', 'encoded_s17',
       'encoded_s18', 'encoded_s52', 'encoded_s58', 'encoded_s69',
       'encoded_s70', 'encoded_s71'],
      dtype='object')

In [ ]:
from sklearn.datasets import make_classification
from matplotlib import pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

import pandas as pd

In [ ]:
# model=LogisticRegression()

# dt = DecisionTreeClassifier(criterion='entropy')

In [ ]:
X_train=df.drop(['id','label'], axis = 1)

In [ ]:
final_test=df_test.drop(['id'], axis = 1)

In [ ]:
# X_train,X_test,y_train,y_test=train_test_split(X_train,df.label,test_size=0.2, random_state=24)

In [ ]:
X_train

,s13,s48,n1,n2,n3,n4,n5,n6,n7,n8,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,1,0,16.144666,1.989441,2,2.318385,-32.839277,0.017176,-9.126056,1.732291,...,1,0,3,3,1,1,1,2,3,1
1,1,1,7.144558,0.844866,3,6.197768,-32.576597,0.013857,-9.098287,1.505885,...,1,1,3,3,1,1,1,2,3,1
2,1,0,6.923236,1.042018,6,7.824401,-32.510544,0.013943,-9.234894,1.503828,...,1,1,3,3,1,1,1,2,3,1
3,1,0,5.749840,0.781439,2,8.256767,-32.398679,0.010387,-9.378025,1.485863,...,1,1,3,3,1,1,1,2,3,1
4,1,1,14.771959,1.248188,3,2.300011,-32.396746,0.016289,-9.261962,1.619210,...,0,1,1,3,3,2,1,3,3,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28317,1,0,16.375618,2.480253,7,4.693939,-33.086259,0.007216,-8.651173,1.877460,...,1,1,3,3,1,1,1,2,3,1
28318,1,0,14.746677,2.035971,6,7.939976,-32.775474,0.013369,-8.833046,1.559138,...,1,1,3,3,1,1,1,2,3,1
28319,1,0,13.429797,1.800562,3,7.763386,-32.575975,0.017782,-9.233722,1.455911,...,1,1,3,3,1,1,1,2,3,1
28320,1,1,16.094622,2.438280,8,6.942766,-32.577563,0.007324,-8.748941,2.074394,...,1,1,1,2,1,1,1,3,2,1
28321,1,1,7.058107,1.023172,3,5.942025,-32.848897,0.015928,-9.280950,1.490478,...,1,1,3,3,1,2,1,2,3,1

In [ ]:
# model.fit(X_train,y_train)

# dt = DecisionTreeClassifier(criterion='entropy')
# dt.fit(X_train,y_train)

In [ ]:
# y_pred = dt.predict(X_test)

In [ ]:
# print('Test Accuracy:', accuracy_score(y_test,y_pred))

In [ ]:
df_test

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s11,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,1,0,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,...,1,1,1,3,3,2,1,3,3,3
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,1,1,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,...,1,1,1,2,1,2,0,3,2,1
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,1,1,10.893303,1.470903,6,2.210629,-32.397871,0.016837,-9.173660,...,1,0,1,3,1,2,1,3,3,1
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,1,0,9.876850,1.442493,3,2.350379,-32.836003,0.015684,-9.178200,...,1,1,3,3,1,1,1,2,3,1
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,1,1,11.674406,2.544719,8,8.136887,-32.577495,0.006406,-8.726633,...,1,1,3,2,1,1,1,2,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85060,b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...,1,1,10.547381,1.452660,7,8.000085,-32.578221,0.011017,-8.994304,...,1,1,2,2,2,2,1,1,2,2
85061,b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...,1,1,10.149117,2.168239,6,6.011115,-32.447282,0.019550,-9.131275,...,1,1,1,2,2,2,1,3,2,2
85062,b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...,1,1,3.744380,0.661328,2,2.112016,-32.351165,0.015461,-9.249529,...,0,1,3,0,2,1,1,2,0,2
85063,b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...,1,1,10.194615,1.557863,2,2.433086,-32.363871,0.010612,-9.229158,...,0,1,1,3,3,2,1,3,3,3
85064,b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...,1,0,10.109654,1.517923,0,6.809017,-32.644558,0.029553,-9.225671,...,1,1,3,3,1,1,1,2,3,1

In [ ]:
# dt.score(X_test,y_test)

In [ ]:
# df_test['predicted_label']=dt.predict(final_test)

In [ ]:
# df_test

In [ ]:
# submission=pd.DataFrame(df_test,columns = ['id','predicted_label'])

In [ ]:
# submission

In [ ]:
# submission.to_csv("submission.csv")

In [ ]:
# print('Train Accuracy:', accuracy_score(y_train,dt.predict(X_train)))

In [ ]:
!pip install tensorflow
import tensorflow

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.8.2+zzzcolab20220527125636)
Requirement already satisfied: tensorflow-io-gcs-filesystem>=0.23.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.26.0)
Requirement already satisfied: typing-extensions>=3.6.6 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (4.2.0)
Requirement already satisfied: h5py>=2.9.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: absl-py>=0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.0.0)
Requirement already satisfied: grpcio<2.0,>=1.24.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.46.3)
Requirement already satisfied: flatbuffers>=1.12 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.0)
Requirement already satisfied: keras-preprocessing>=1.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: libclang>=9.0.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (14.0.1)
Requirement already satisfied: protobuf<3.20,>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.17.3)
Requirement already satisfied: keras<2.9,>=2.8.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: opt-einsum>=2.3.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: termcolor>=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: six>=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: numpy>=1.20 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.21.6)
Requirement already satisfied: tensorboard<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: tensorflow-estimator<2.9,>=2.8 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.8.0)
Requirement already satisfied: gast>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.5.3)
Requirement already satisfied: wrapt>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.14.1)
Requirement already satisfied: astunparse>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: google-pasta>=0.1.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from tensorflow) (57.4.0)
Requirement already satisfied: wheel<1.0,>=0.23.0 in /usr/local/lib/python3.7/dist-packages (from astunparse>=1.6.0->tensorflow) (0.37.1)
Requirement already satisfied: cached-property in /usr/local/lib/python3.7/dist-packages (from h5py>=2.9.0->tensorflow) (1.5.2)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.8.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.6.1)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (2.23.0)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.0.1)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (0.4.6)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (3.3.7)
Requirement already satisfied: google-auth<3,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard<2.9,>=2.8->tensorflow) (1.35.0)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.8)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (4.2.4)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (1.3.1)
Requirement already satisfied: importlib-metadata>=4.4 in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (4.11.4)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata>=4.4->markdown>=2.6.8->tensorboard<2.9,>=2.8->tensorflow) (3.8.0)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<3,>=1.6.3->tensorboard<2.9,>=2.8->tensorflow) (0.4.8)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (1.24.3)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (2022.5.18.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard<2.9,>=2.8->tensorflow) (3.0.4)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard<2.9,>=2.8->tensorflow) (3.2.0)

In [ ]:
from tensorflow import keras
from keras.models import Sequential
from keras.layers import Dense
from keras import optimizers

In [ ]:
hidden_units=100
learning_rate=0.01
hidden_layer_act='tanh'
output_layer_act='sigmoid'
no_epochs=100

In [ ]:
# # model = Sequential()

# tensorflow.random.set_seed(42)

# # 1. Create the model using the Sequential API
# model_1 = tensorflow.keras.Sequential([
#   tensorflow.keras.layers.Dense(1)
# ])

# # 2. Compile the model
# model_1.compile(loss=tensorflow.keras.losses.BinaryCrossentropy(), # binary since we are working with 2 clases (0 & 1)
#                 optimizer=tensorflow.keras.optimizers.SGD(),
#                 metrics=['accuracy'])

# # 3. Fit the model
# model_1.fit(X_train, df.label, epochs=5)

In [ ]:
# Set random seed
import tensorflow as tf
tf.random.set_seed(42)

# Create the model (same as model_7)
model_8 = tf.keras.Sequential([
  tf.keras.layers.Dense(4, activation="relu"), # hidden layer 1, using "relu" for activation (same as tf.keras.activations.relu)
  tf.keras.layers.Dense(4, activation="relu"),
  tf.keras.layers.Dense(1, activation="sigmoid") # output layer, using 'sigmoid' for the output
])

# Compile the model
model_8.compile(loss=tf.keras.losses.binary_crossentropy,
                optimizer=tf.keras.optimizers.Adam(lr=0.01), # increase learning rate from 0.001 to 0.01 for faster learning
                metrics=['accuracy'])

# Fit the model
model_8.fit(X_train, df.label, epochs=25)

Epoch 1/25

/usr/local/lib/python3.7/dist-packages/keras/optimizer_v2/adam.py:105: UserWarning: The `lr` argument is deprecated, use `learning_rate` instead.
  super(Adam, self).__init__(name, **kwargs)

886/886 [==============================] - 2s 1ms/step - loss: 0.3703 - accuracy: 0.8542
Epoch 2/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3220 - accuracy: 0.8724
Epoch 3/25
886/886 [==============================] - 1s 2ms/step - loss: 0.3188 - accuracy: 0.8731
Epoch 4/25
886/886 [==============================] - 1s 2ms/step - loss: 0.3183 - accuracy: 0.8727
Epoch 5/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3164 - accuracy: 0.8724
Epoch 6/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3163 - accuracy: 0.8726
Epoch 7/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3170 - accuracy: 0.8726
Epoch 8/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3169 - accuracy: 0.8731
Epoch 9/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3162 - accuracy: 0.8734
Epoch 10/25
886/886 [==============================] - 1s 2ms/step - loss: 0.3161 - accuracy: 0.8732
Epoch 11/25
886/886 [==============================] - 1s 2ms/step - loss: 0.3170 - accuracy: 0.8729
Epoch 12/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3154 - accuracy: 0.8737
Epoch 13/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3148 - accuracy: 0.8735
Epoch 14/25
886/886 [==============================] - 1s 2ms/step - loss: 0.3157 - accuracy: 0.8733
Epoch 15/25
886/886 [==============================] - 1s 2ms/step - loss: 0.3148 - accuracy: 0.8735
Epoch 16/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3150 - accuracy: 0.8732
Epoch 17/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3149 - accuracy: 0.8751
Epoch 18/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3155 - accuracy: 0.8741
Epoch 19/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3146 - accuracy: 0.8742
Epoch 20/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3154 - accuracy: 0.8739
Epoch 21/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3138 - accuracy: 0.8739
Epoch 22/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3134 - accuracy: 0.8746
Epoch 23/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3137 - accuracy: 0.8750
Epoch 24/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3140 - accuracy: 0.8739
Epoch 25/25
886/886 [==============================] - 1s 1ms/step - loss: 0.3133 - accuracy: 0.8748

In [ ]:
df_test['label']=tf.round(model_8.predict(final_test))

In [ ]:
df_test

,id,s13,s48,n1,n2,n3,n4,n5,n6,n7,...,encoded_s12,encoded_s16,encoded_s17,encoded_s18,encoded_s52,encoded_s58,encoded_s69,encoded_s70,encoded_s71,label
0,b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...,1,0,17.362752,2.985283,3,2.052415,-32.339904,0.026301,-9.200175,...,1,1,3,3,2,1,3,3,3,1.0
1,b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...,1,1,15.892228,2.389056,7,6.928142,-32.356092,0.010774,-8.897092,...,1,1,2,1,2,0,3,2,1,1.0
2,b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...,1,1,10.893303,1.470903,6,2.210629,-32.397871,0.016837,-9.173660,...,0,1,3,1,2,1,3,3,1,0.0
3,b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...,1,0,9.876850,1.442493,3,2.350379,-32.836003,0.015684,-9.178200,...,1,3,3,1,1,1,2,3,1,0.0
4,b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...,1,1,11.674406,2.544719,8,8.136887,-32.577495,0.006406,-8.726633,...,1,3,2,1,1,1,2,2,1,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85060,b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...,1,1,10.547381,1.452660,7,8.000085,-32.578221,0.011017,-8.994304,...,1,2,2,2,2,1,1,2,2,0.0
85061,b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...,1,1,10.149117,2.168239,6,6.011115,-32.447282,0.019550,-9.131275,...,1,1,2,2,2,1,3,2,2,1.0
85062,b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...,1,1,3.744380,0.661328,2,2.112016,-32.351165,0.015461,-9.249529,...,1,3,0,2,1,1,2,0,2,0.0
85063,b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...,1,1,10.194615,1.557863,2,2.433086,-32.363871,0.010612,-9.229158,...,1,1,3,3,2,1,3,3,3,1.0
85064,b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...,1,0,10.109654,1.517923,0,6.809017,-32.644558,0.029553,-9.225671,...,1,3,3,1,1,1,2,3,1,0.0

In [ ]:
submission=pd.DataFrame(df_test,columns = ['id','label'])

In [ ]:
tf.round(submission.label)

In [ ]:
submission.to_csv("submission3.csv")

In [ ]:
submission['label'] = submission['label'].astype(int)

In [ ]:
submission

                                                      id  label
0      b'gAAAAABinOi328DZcweGB4_nOyHA3Dy6o1YKYKyf3COx...      1
1      b'gAAAAABinOikutEIBjkUXl9lYTg4RI6jc4NfiMUCcVsn...      1
2      b'gAAAAABinOjBM70jBXOroAlUSq5lNXMd_oP0PU7jLQE5...      0
3      b'gAAAAABinOimitAnqlgOcqnD_LeNL3WEbXNGvjd3QVPi...      0
4      b'gAAAAABinOi3W9p3Oka5MV_dc2TeorZUcIWOnnODSx7E...      0
...                                                  ...    ...
85060  b'gAAAAABinOjbnJVk2-nOVQsYB9p4DK26fTLLik_UR2H0...      0
85061  b'gAAAAABinOi7ixyXrlKYlx8D9i0-TIPD5elP2k-vuekn...      1
85062  b'gAAAAABinOi31zWSlD0OMhbBd3_weh7Kq6aPeO4yYqns...      0
85063  b'gAAAAABinOjIe7jFVk9k7jiH8Y3rdpUHDTZG2T2isunp...      1
85064  b'gAAAAABinOiiLo4KNZVgClHgtOFRzEU9O97My6MowJFa...      0

[85065 rows x 2 columns]

In [ ]:
submission.to_csv("submission4.csv")